<?xml version="1.0"?>
<config>
	<modules>
		<Doku_Onecheckout>
			<version>0.0.1</version>
		</Doku_Onecheckout>
	</modules>
	<global>
        <resources>
            <onecheckout_setup>
                <setup>
                    <module>Doku_Onecheckout</module>
                </setup>
            </onecheckout_setup>
        </resources>
		<helpers>
			<onecheckout>
				<class>Doku_Onecheckout_Helper</class>
			</onecheckout>
		</helpers>
        <models>
            <onecheckout>
                <class>Doku_Onecheckout_Model</class>
				<resourceModel>onecheckout_resource</resourceModel>
            </onecheckout>
			<onecheckout_resource>
				<class>Doku_Onecheckout_Model_Resource</class>
				<entities>
					<transactions>
						<table>onecheckout_transactions</table>
					</transactions>
				</entities>
			</onecheckout_resource>
        </models>
        <blocks>
            <onecheckout>
                <class>Doku_Onecheckout_Block</class>
            </onecheckout>
        </blocks>
<!--
        <template>
            <email>
                <onecheckout_notifyemail>
                    <label>Transaction Notification</label>
                    <file>onecheckcout_activateemail.html</file>
                    <type>html</type>
                </onecheckout_notifyemail>
            </email>
        </template> -->
        <payment>
            <groups>
                <dokuoco>Onecheckout</dokuoco>
            </groups>
        </payment>
	</global>
    <frontend>
        <routers>
            <onecheckout>
                <use>standard</use>
                <args>
                    <module>Doku_Onecheckout</module>
                    <frontName>oco</frontName>
                </args>
            </onecheckout>
        </routers>
        <layout>
            <updates>
                <onecheckout>
                    <file>onecheckout.xml</file>
                </onecheckout>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <onecheckout after="Mage_Adminhtml">Doku_Onecheckout</onecheckout>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <onecheckout>
                    <file>onecheckout.xml</file>
                </onecheckout>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <payment>
            <onecheckout_all>
                <group>dokuoco</group>
                <active>0</active>
                <model>onecheckout/allchannel</model>
                <title>DOKU Secure Payment Page</title>
                <order_status>processing</order_status>
                <allowspecific>0</allowspecific>
            </onecheckout_all>
            <onecheckout_dokuwallet>
                <group>dokuoco</group>
                <active>0</active>
                <model>onecheckout/dokuwallet</model>
                <title>DOKU Wallet</title>
                <order_status>processing</order_status>
                <allowspecific>0</allowspecific>
            </onecheckout_dokuwallet>
            <onecheckout_creditcard>
                <group>dokuoco</group>
                <active>0</active>
                <model>onecheckout/creditcard</model>
                <title>Credit Card Master / Visa / JCB</title>
                <order_status>processing</order_status>
                <allowspecific>0</allowspecific>
            </onecheckout_creditcard>
            <onecheckout_installmentbni>
                <group>dokuoco</group>
                <active>0</active>
                <model>onecheckout/installmentbni</model>
                <title>Credit Card with Installment for BNI Card Holder</title>
                <order_status>processing</order_status>
                <allowspecific>0</allowspecific>
            </onecheckout_installmentbni>
            <onecheckout_installmentmandiri>
                <group>dokuoco</group>
                <active>0</active>
                <model>onecheckout/installmentmandiri</model>
                <title>Credit Card with Installment for Mandiri Card Holder</title>
                <order_status>processing</order_status>
                <allowspecific>0</allowspecific>
            </onecheckout_installmentmandiri>
            <onecheckout_mandiriclickpay>
                <group>dokuoco</group>
                <active>0</active>
                <model>onecheckout/mandiriclickpay</model>
                <title>Mandiri Clickpay</title>
                <order_status>processing</order_status>
                <allowspecific>0</allowspecific>
            </onecheckout_mandiriclickpay>
            <onecheckout_bcaklikpaycard>
                <group>dokuoco</group>
                <active>0</active>
                <model>onecheckout/bcaklikpaycard</model>
                <title>BCA KlikPay Card</title>
                <order_status>processing</order_status>
                <allowspecific>0</allowspecific>
            </onecheckout_bcaklikpaycard>
            <onecheckout_bcaklikpayaccount>
                <group>dokuoco</group>
                <active>0</active>
                <model>onecheckout/bcaklikpayaccount</model>
                <title>BCA KlikPay Account</title>
                <order_status>processing</order_status>
                <allowspecific>0</allowspecific>
            </onecheckout_bcaklikpayaccount>
            <onecheckout_briepay>
                <group>dokuoco</group>
                <active>0</active>
                <model>onecheckout/briepay</model>
                <title>BRI e-Pay</title>
                <order_status>processing</order_status>
                <allowspecific>0</allowspecific>
            </onecheckout_briepay>
            <onecheckout_cimbclicks>
                <group>dokuoco</group>
                <active>0</active>
                <model>onecheckout/cimbclicks</model>
                <title>CIMB Clicks</title>
                <order_status>processing</order_status>
                <allowspecific>0</allowspecific>
            </onecheckout_cimbclicks>
            <onecheckout_permatava>
                <group>dokuoco</group>
                <active>0</active>
                <model>onecheckout/permatava</model>
                <title>Virtual Account powered by Bank Permata</title>
                <order_status>processing</order_status>
                <allowspecific>0</allowspecific>
            </onecheckout_permatava>
            <onecheckout_sinarmasva>
                <group>dokuoco</group>
                <active>0</active>
                <model>onecheckout/sinarmasva</model>
                <title>Virtual Account powered by Bank Sinarmas</title>
                <order_status>processing</order_status>
                <allowspecific>0</allowspecific>
            </onecheckout_sinarmasva>
            <onecheckout_mandiribillpayment>
                <group>dokuoco</group>
                <active>0</active>
                <model>onecheckout/mandiribillpayment</model>
                <title>Mandiri Bill Payment via ATM and Internet Banking Bank Mandiri</title>
                <order_status>processing</order_status>
                <allowspecific>0</allowspecific>
            </onecheckout_mandiribillpayment>
            <onecheckout_alfagroup>
                <group>dokuoco</group>
                <active>0</active>
                <model>onecheckout/alfagroup</model>
                <title>Alfamart, Alfamidi, Lawson, Dan+Dan</title>
                <order_status>processing</order_status>
                <allowspecific>0</allowspecific>
            </onecheckout_alfagroup>
            <onecheckout_tokenization>
                <group>dokuoco</group>
                <active>0</active>
                <model>onecheckout/tokenization</model>
                <title>Securely store your credit card without CVV2</title>
                <order_status>processing</order_status>
                <allowspecific>0</allowspecific>
            </onecheckout_tokenization>
            <onecheckout_recurring>
                <group>dokuoco</group>
                <active>0</active>
                <model>onecheckout/recurring</model>
                <title>Secure recurring payment</title>
                <order_status>processing</order_status>
                <allowspecific>0</allowspecific>
            </onecheckout_recurring>
        </payment>
        <onecheckout>
            <settings>
                <config_environment>STAGING</config_environment>
                <config_mallid>1234</config_mallid>
                <config_sharedkey>abcdefghijklmnop</config_sharedkey>
                <config_chainnumber>NA</config_chainnumber>
                <config_timelimit_paynow>40</config_timelimit_paynow>
                <config_timelimit_paylater>180</config_timelimit_paylater>
            </settings>
            <info>
                <notifyurl>oco/index/notify</notifyurl>
                <redirectbackurl>oco/index/result</redirectbackurl>
                <identifyurl>oco/index/identify</identifyurl>
                <reviewurl>oco/index/review</reviewurl>
                <inquiryurl>oco/index/inquiry</inquiryurl>
            </info>
        </onecheckout>
    </default>
	<crontab>
		<jobs>
			<my_cron>
				<schedule>
					<cron_expr>*/5 * * * *</cron_expr>
				</schedule>
				<run>
					<model>onecheckout/observer::checkstatus</model>
				</run>
			</my_cron>
		</jobs>
	</crontab>
</config>